.cate {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  min-width: 130px;
  text-align: left;
  background: #272727;
  box-shadow: 2px 0 4px #888888;
  font-size: 1.8vh;

  > .search {
    width: 100%;
    margin-bottom: 0.8vh;
    padding: 1vh 0.6vw;
  }

  > .summary {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 3px solid #dddddd;
    padding: 1vh 0.6vw;

    > div {
      width: 100%;
      padding: 0.2vh 0;
      border-bottom: 1px solid #555555;
      cursor: pointer;
      color: #dddddd;
    }

    > div:hover {
      color: #ffefa2;
      border-bottom: 1px solid #ffefa2;
    }

    > div.focus {
      color: gold;
      border-bottom: 1px solid gold;
    }
  }
}

.md {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2vh 7vh;
}