body:not([arco-theme]) {
  --ex-md-pre-bg: #333;
  --ex-md-pre-txt: #fff;
  --ex-md-blockquote-bl: rgb(var(--primary-4));
  --ex-md-blockquote-bg: #f4f7f9;
  --ex-md-labal-txt: #fff;
  --ex-md-table-bg: #ddd;
  --ex-md-th-bg: #ddd;
}

body[arco-theme='dark'] {
  --color-text-1: #dddddd;
  --primary-4: 255, 232, 151;
  --primary-5: 253, 220, 87;
  --primary-6: 255, 204, 0;
  --primary-7: 201, 162, 0;
  --ex-md-pre-bg: #fdfdfd;
  --ex-md-pre-txt: #272727;
  --ex-md-blockquote-bl: #ffdc3c;
  --ex-md-blockquote-bg: #272727;
  --ex-md-labal-txt: #000;
  --ex-md-th-bg: #555;

  .arco-btn-primary:not(.arco-btn-disabled), .arco-btn-primary.arco-btn-disabled, .arco-btn-primary:not(.arco-btn-disabled):hover, .arco-btn-primary:not(.arco-btn-disabled):focus {
    color: #000000;
  }
}

#app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .wf {
    display: inline;
    font-weight: 700;
    background: #d362f6;
    color: #ffffff;
  }

  .wf2 {
    opacity: 0.3;
  }

  #bigImg {
    display: none;
  }

  .sponsor {
    padding: 7px 0 7px 16px;
    line-height: 2vh;
    border-top: 1px solid var(--color-border-1);
    background-color: var(--color-menu-light-bg);
    color: var(--color-text-3);

    div {
      margin: 3px 0;
    }

    div:hover {
      cursor: help;
      text-decoration: underline;
    }
  }

  .nav {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    min-width: 130px;
    text-align: left;

    > .search {
      padding: 1vh 0.6vw;
    }

    > .summary {
      flex: 1;
      overflow-x: hidden;
      overflow-y: scroll;

      .arco-menu-selected {
        font-weight: bold;
      }
    }
  }

  .md {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;

    .tools {
      height: 40px;
      line-height: 40px;
      margin: 0;
      padding: 0 0 0 3vh;
      z-index: 1;

      .arco-space-item:first-child {
        margin-right: 6px !important;

        .folder {
          margin-top: 6px;
        }
      }

      button {
        height: 24px;
        margin-top: 9px;
        margin-right: 0.2vw;
        border: 0;
        border-radius: 0.2vw;
        cursor: pointer;
      }
    }

    .title {
      height: 30px;
      line-height: 30px;
      margin: 0;
      padding: 2vh 0 0 3vh;
      z-index: 1;
      color: var(--color-text-1);
    }

    .stage {
      flex: 1;
      display: flex;
      flex-direction: row;
      overflow-x: hidden;
      overflow-y: scroll;

      .mdTxt {
        flex: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 6vh 3vh 6vh;
        border-right: 2px dashed #555555;

        table {
          border-collapse: collapse;
          border: 1px solid #bbbbbb;
          padding: 15px;

          th {
            border: 1px solid #bbbbbb;
            padding: 10px 20px;
            background: var(--ex-md-th-bg);
          }

          tr {
            border: 1px solid #bbbbbb;
            padding: 0 10px;

            td {
              padding: 0 15px;
              border: 1px solid #bbbbbb;
            }
          }

        }

        h1 {
          color: rgb(var(--primary-6));
        }

        a {
          font-weight: 700;
          color: rgb(var(--primary-5));
          cursor: pointer;
        }

        a:hover {
          text-decoration: underline;
        }

        li {
          font-style: italic;
        }

        img {
          width: auto;
          max-width: 100%;
          margin: 20px 0;
          border-radius: 4px;
        }

        blockquote {
          margin: 10px 0;
          padding: 2px 0 2px 12px;
          border-left: 3px var(--ex-md-blockquote-bl) solid;
          background: var(--ex-md-blockquote-bg);

          p {
            margin: 10px 0;
            padding: 0;
          }
        }

        code:not(pre code) {
          border-radius: 8px;
          padding: 3px 5px;
          margin: 0 2px;
          background: rgb(var(--primary-4));
          color: var(--ex-md-labal-txt);
        }

        pre {
          border-radius: 4px;
          background: var(--ex-md-pre-bg);
          color: var(--ex-md-pre-txt);

          code {
            border-radius: 4px;
            display: block;
            overflow-x: auto;
            padding: 1em;
            word-break: break-all;
            white-space: pre-wrap;
          }
        }

        .colour {
          height: 30px;
          line-height: 30px;
          padding-left: 20px;
          color: whitesmoke;
          font-weight: 600;
          text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555,0 -1px #555555;
        }

      }

      .mdTxt:last-child{
        border-right: 0;
      }

      .mdTxt.s1 {
        font-size: 80%;
      }

      .mdTxt.s2 {
        font-size: 90%;
      }

      .mdTxt.s3 {
        font-size: 100%;
      }

      .mdTxt.s4 {
        font-size: 115%;
      }

      .mdTxt.s5 {
        font-size: 135%;
      }
    }
  }
}