body:not([arco-theme]) {
  --ex-sponsor-txt: #eeeeee;
  --ex-sponsor-bg: #ff004d;
  --ex-sponsor-hover: #ff3d74;
}

body[arco-theme='dark'] {
  --ex-sponsor-txt: #666666;
  --ex-sponsor-bg: #ffcc00;
  --ex-sponsor-hover: #ffda46;
}

#app {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;

  .wf {
    display: inline;
    font-weight: 700;
    background: #d362f6;
    color: #ffffff;
  }

  .wf2 {
    opacity: 0.3;
  }

  #bigImg {
    display: none;
  }

  .sponsor {
    display: compact;
    position: fixed;
    right: 1vw;
    top: 2.7vh;
    height: 46px;
    padding: 0 6px;
    background: var(--ex-sponsor-bg);
    color: var(--ex-sponsor-txt);
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    z-index: 99;
  }

  .sponsor:hover {
    background: var(--ex-sponsor-hover);
  }

  .sponsor > .tabler-icon {
    height: 20px;
  }

  .cate {
    display: flex;
    flex-direction: column;
    max-width: 25%;
    min-width: 130px;
    text-align: left;

    > .search {
      padding: 1vh 0.6vw;
    }

    > .summary {
      overflow-x: hidden;
      overflow-y: scroll;

      .arco-menu-selected {
        font-weight: bold;
      }
    }
  }

  .md {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 0;

    .tools {
      height: 40px;
      line-height: 40px;
      margin: 0;
      padding: 0 0 0 3vh;
      z-index: 1;

      .arco-space-item:first-child {
        margin-right: 6px !important;

        .folder {
          margin-top: 6px;
        }
      }

      button {
        height: 24px;
        margin-top: 9px;
        margin-right: 0.2vw;
        border: 0;
        border-radius: 0.2vw;
        cursor: pointer;
      }
    }

    .title {
      height: 30px;
      line-height: 30px;
      margin: 0;
      padding: 1vh 7vh 0 3vh;
      z-index: 1;
      color: var(--color-text-2);
    }

    .stage {
      flex: 1;
      display: flex;
      flex-direction: row;
      overflow-x: hidden;
      overflow-y: scroll;

      .mdTxt {
        flex: 1;
        overflow-x: hidden;
        overflow-y: scroll;
        //margin-bottom: 2vh;
        padding: 0 7vh 2vh 5vh;
        border-right: 1px solid #bbbbbb;

        table {
          border-collapse: collapse;
          border: 1px solid #bbbbbb;
          padding: 15px;

          th {
            border: 1px solid #bbbbbb;
            padding: 10px 20px;
            background: #555555;
          }

          tr {
            border: 1px solid #bbbbbb;
            padding: 0 10px;

            td {
              padding: 0 15px;
              border: 1px solid #bbbbbb;
            }
          }

        }

        a {
          font-weight: 700;
          color: #ffdc3c;
          cursor: pointer;
        }

        a:hover {
          text-decoration: underline;
        }

        li {
          font-style: italic;
        }

        img {
          width: auto;
          max-width: 100%;
          margin: 20px 0;
          border-radius: 4px;
        }

        blockquote {
          margin: 10px 0;
          padding: 2px 0 2px 12px;
          border-left: 3px #ffdc3c solid;
          background: #272727;

          p {
            margin: 10px 0;
            padding: 0;
          }
        }

        code:not(pre code) {
          background: #ffdc3c;
          border-radius: 8px;
          padding: 3px 5px;
          margin: 0 2px;
          color: #000000;
        }

        pre {
          border-radius: 4px;
          background: #fdfdfd;
          color: #272727;

          code {
            border-radius: 4px;
            display: block;
            overflow-x: auto;
            padding: 1em;
            word-break: break-all;
            white-space: pre-wrap;
          }
        }

        .colour {
          height: 30px;
          line-height: 30px;
          padding-left: 20px;
          color: whitesmoke;
          font-weight: 600;
          text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555,0 -1px #555555;
        }

      }

      .mdTxt.s1 {
        font-size: 80%;
      }

      .mdTxt.s2 {
        font-size: 90%;
      }

      .mdTxt.s3 {
        font-size: 100%;
      }

      .mdTxt.s4 {
        font-size: 115%;
      }

      .mdTxt.s5 {
        font-size: 135%;
      }
    }
  }
}

#app.light {

  .md {
    .stage {
      .mdTxt {
        border-right: 1px solid #dddddd;

        pre {
          background: #333;
          color: #ffffff
        }

        blockquote {
          border-left: 3px rgb(var(--primary-4)) solid;
          background: #f4f7f9;
        }

        h1, a {
          color: rgb(var(--primary-6));
        }

        code:not(pre code) {
          background: rgb(var(--primary-5));
          color: #ffffff;
        }

        table {
          th {
            background: #dddddd;
          }
        }
      }
    }
  }
}