#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: auto;
    height: 175px;
    margin: 5vh auto 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
    border-radius: 4%;
}

#logo .hide {
    height: 0;
    margin: 0;
}

.alert {
    font-size: 8px;
    background: #ea5d5d;
    text-align: center;
}

.tips {
    display: inline-block;
    height: 3vh;
    line-height: 3vh;
    margin: 1vh auto;
}

.input-box .btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    width: 800px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.process {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 1vh auto 0 auto;
    text-align: center;
    width: 920px;
    height: 10px;
}

.process .back {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 10px;
    background-color: #a9a9a9;
    z-index: 0;
    border-radius: 3px;
}

.process .value {
    flex: 1;
    display: inline-block;
    height: 8px;
    margin-top: 1px;
    margin-left: 1px;
    z-index: 1;
    border-radius: 2px;
    transition: width 0.3s;
}

.process .value.warning {
    background-color: #ff9f3c;
}

.process .value.ok {
    background-color: #89ff68;
}

.process .value.skip {
    background-color: #beffab;
}

.response {
    display: inline-block;
    width: 900px;
    flex: 1;
    margin: 1vh auto 1vh auto;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.response > div {
    display: block;
    font-size: 8px;
    text-align: left;
}

.response > div.error {
    color: #ff6868;
}

.response > div.ok {
    color: #89ff68;
}

.response > div.skip {
    color: #bffcb2;
}

.response > div.warning {
    color: #ff9f3c;
}

.response > div.skip {
    color: #d7d7d7;
}

.response > div.info {
    color: #ffffff;
}

.response > div.finial {
    color: #59cdff;
}
