#app.light {
  .wf {
    background: #2475ee;
  }

  .sponsor {
    background: #ff004d;
    color: #eeeeee;
  }

  .cate {
    background: #eeeeee;
    box-shadow: 2px 0 4px #444444;

    > .summary {
      border-top: 3px solid #c5c5c5;

      > div {
        border-bottom: 1px solid #444444;
        color: #111111;
      }

      > div:hover {
        color: #2475ee;
        border-bottom: 1px solid #a0c7ff;
      }

      > div.focus {
        color: #2475ee;
        border-bottom: 1px solid #2475ee;
      }
    }
  }

  .md {

    .tools {
      background: #eeeeee;

      button {
        background: #444444;
        color: #ffffff;
      }

      button:hover {
        background: #a0c7ff;
        color: #272727;
      }

      button:active {
        background: #2475ee;
        color: #272727;
      }

      button.focus {
        background: #2475ee;
        color: #ffffff;
      }
    }

    .title {
      background: #eeeeee;
      color: #272727;
      box-shadow: 0 3px 4px #888888;
    }

    .hljs {
      flex: 1;
      overflow-x: hidden;
      overflow-y: scroll;
      padding: 0 7vh 2vh 5vh;
    }

    .hljs.fs-1 {
      font-size: 90%;
    }

    .hljs.fs-2 {
      font-size: 100%;
    }

    .hljs.fs-3 {
      font-size: 130%;
    }

    h1, h2 {
      color: #2475ee;
    }

    li {
      color: #606c71;
    }

    img {
      width: auto;
      max-width: 100%;
      margin: 20px 0;
    }

    blockquote {
      padding: 0 0.4vh;
      margin-left: 0;
      color: #184a75;
      border-left: 0.3rem solid #dce6f0;
    }

    a {
      color: #1b51a3;
      text-decoration: none;
      background-color: transparent;
    }

    a:hover {
      color: #2475ee;
      text-shadow: 0 0 5px #8db6f5;
    }

    pre {
      border: 2px solid #eeeeee;
      border-radius: 4px;
      background: #333;
      color: #ffffff
    }

    code {
      border-radius: 4px;
      display: block;
      overflow-x: auto;
      padding: 1em;
      word-break: break-all;
      white-space: pre-wrap;
    }

    .colour {
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
      color: whitesmoke;
      font-weight: 600;
      text-shadow: -1px 0 #555555, 0 1px #555555, 1px 0 #555555,0 -1px #555555;
    }

  }
}