@font-face {
    font-family: "PingFang";
    font-style: normal;
    src: url("assets/fonts/PingFang-Medium.ttf");
}

@font-face {
    font-family: 'Fira';
    font-style: normal;
    src: url('assets/fonts/FiraCode-Regular.ttf');
}

html {
    background-color: var(--color-bg-1);
}

body {
    margin: 0;
    font-family: "PingFang", sans-serif !important;
    font-size: 15px;
    background-color: var(--color-bg-1);
    color: var(--color-text-1);
    color-scheme: dark;
}

code {
    font-family: "Fira", sans-serif !important;
}

::-webkit-scrollbar {
    width: 0.3vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #555555;
}