@font-face {
    font-family: "PingFangSC";
    font-style: normal;
    font-weight: 400;
    src: url("assets/fonts/PingFangSC.ttf");
}

html {
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: "PingFangSC", sans-serif;
}

::-webkit-scrollbar {
    width: 0.4vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #cc2525;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #fcfcfc;
    border: 1px solid #ffffff;
}