@font-face {
    font-family: "PingFangSC";
    font-style: normal;
    src: url("assets/fonts/PingFangSC.ttf");
}

@font-face {
    font-family: 'Fira';
    src: url('assets/fonts/FiraCode-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

html {
    background-color: #ffffff;
}

body {
    margin: 0;
    font-family: "PingFangSC", sans-serif;
}

code {
    font-size: 14px;
    font-family: "Fira", sans-serif;
}

::-webkit-scrollbar {
    width: 0.4vh;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #666666;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #fcfcfc;
    border: 1px solid #ffffff;
}